@{
    ViewData["Title"] = "About";
}

<div class="container p-lg-2">


    <h1 class="display-3 p-0 m-0">Ryan Toner - About me</h1>
    <br />
    <div class="text-justify about">
        I am a hard-working, self-motivated, and highly passionate developer and software engineer with extensive project experience across many platforms and languages.

        I enjoy collaboration on project work and am a skillful communicator with the ability to deliver complex code ideas clearly.

        I am experienced in writing and documenting proper software, especially by using source control systems.

        I have engineering research experience with the

        <a asp-controller="Portfolio" asp-action="FAA">Federal Aviation Administration</a>,

        and am currently persuing independent research in

        <a asp-controller="Portfolio" asp-action="Derivative">symbolic computation and computer algebra systems</a>.

        I have experience in teaching by guest lecturing high school students various programming, math, and software topics via the

        <a asp-controller="Portfolio" asp-action="SelfHelp">
            open-source initiative at Wooster School.
        </a>


        <br /><br />
        <!--I am currently seeking employment or internship opportunites. -->If my portfolio and background look relevant, I would love to hear from you!
    </div>
    <br />

    <h1 class="display-3 p-0">About this site</h1>
    <br />
    <div class="text-justify about">
        I created this site using ASP.NET MVC and am hosting on AWS. The project's source code is on this
        <a href="https://github.com/RyanTonerCode/RyanTonerPortfolio" target="_blank" rel="noreferrer">
            GitHub repository
        </a> and uses the MIT license. However, the work/ text presented on this site is my intellectual property.
        Please feel free to take a peek or borrow the source code for your usage.
        If you happen to have any questions or want to know more, please send me a message.
    </div>

</div>
