@{
    ViewData["Title"] = "36th Digital Avionics Systems Conference";
}

<div class="container text-center">
    <img class="img-fluid" src="@Url.Content("~/imgs/dasc.png")" width="700" />

    <h1 class="display-4 mb-4 pt-4">About</h1>

    <div class="text-justify mb-4">
        I attended the 36th International
        <a href="http://2017.dasconline.org/" target="_blank">Digital Avionics Systems Conference</a> (DASC) in St. Petersburg, FL sponsored by a Travel Grant via NASA
        to present on behalf of my team's research on September 20th 2017. I had an amazing experience connecting with technical experts in avionics,
        and had the opportunity to experience firsthand the new developments across avionics agencies and universities from around the world.
    </div>

    <a href="https://ieeexplore.ieee.org/document/8102101"
        target="_blank">
        <h1>Publication on IEEE</h1>
    </a>

    <hr />
</div>


<div class="container text-center pb-3">
    <img class="img-fluid" src="@Url.Content("~/imgs/fairfield.png")" />
    <a href="https://www.fairfield.edu/news/archive/2017/december/first-year-school-of-engineering-student-presents-peer-reviewed-paper-at-major-international-conference.html"
       target="_blank">
        <h3>Article Published in Fairfield University News</h3>
    </a>
</div>

