@{
    ViewData["Title"] = "15 Puzzle";
}

<div class="container text-center p-3">
    <img class="img-responsive" src="@Url.Content("~/imgs/Fifteen.png")" width="500" />
</div>

<h1 class="display-4 text-center mt-3 mb-4">15-Puzzle Solver</h1>

<div id="assembly" class="container text-justify pb-3">

    <div class="assemdesc mt-3">
        The 15 puzzle is a classic tile sliding game that became popular in the late 19th century.
        
        It is a computationally difficult problem to solve because it is NP-Hard.
        
        Furthermore, solving the puzzle optimally is challenging because the puzzle has a large search space of possible moves.

        <br /> <br />

        I wanted to apply machine learning to the puzzle to develop my own heuristic-algorithm. 
        
        I created my dataset by scrambling a solved board using breadth-first search, and labeling several hundred thousand boards with how many moves they are away from the solved sate.

        This gave my neural network a notional idea of the search space, and allowed me to reasonably estimate how far a random valid board state is from being solved.

        Consequently, I can then use my neural heuristic to guide an A* search to try to efficiently solve my board while minimizing moves.

        I have developed my interest in pathfinding through creating many games that require efficient searching through graph-like structures.

        I wanted to share this knowledge, so I developed a set of <a asp-controller="Portfolio" asp-action="Pathfinding">introductory lectures to pathfinding</a> for game designers, computer scientists, and inquisitive learners.


    </div>

</div>

<div class="container text-center">


    <h1 class="display-4 mt-4">15-Puzzle Lecture</h1>
    <div>
        I created this lecture as my final presentation for the course Artificial Intelligence instructed by Professor Haishuai Wang PhD. All information and diagrams presented are my own unless otherwise cited.
    </div>

    <object data="@Url.Content("~/docs/FifteenPuzzle.pdf")" type="application/pdf" height="600" width="950" style="border:1px solid #666CCC" title="Assembly Lecture" frameborder="1" scrolling="auto">
        <h3 class="text-center"><a href="@Url.Content("~/docs/FifteenPuzzle.pdf")" target="_blank" type="application/pdf">Please click to open here.</a></h3>
    </object>

</div>