@{
    ViewData["Title"] = "Self-Help Open Source Initiative";

}

<div class="container text-center">
    <img src="@Url.Content("~/imgs/Wooster.jpg")" width="750" />
    <h3>Credit to <a href="https://www.woosterschool.org/index.cfm" target="_blank">Wooster School</a></h3>
</div>

<div id="selfhelp" class="container text-justify">


    <h1 class="display-4 mb-3 mt-4">About the Self-Help Open-Source Initiative</h1>

    The Self-Help Open-Source Initiative at Wooster School in Danbury, CT is a project I created to share my passion for computer science, software engineering, and programming with high school students.

    It began in my senior year of high school, when I build the Self-Help website using Google Cloud and APIs inside of Google Apps Script. The site streamlined student usage of a idiosyncratic feature of the school - the Self-Help program.

    The school was previously using Google Forms, and I undertook the initiative to better the communities experience by designing a principles-first website that made students, faculty, and administration happier. Although I cannot share the site to external domains for privacy considerations, the project has been used by more than a thousand unique students and faculty to augment the school's Self-Help program.

    The impetus for the Open-Source initiative is to bring back the new knowledge I have acquired and become a role-model and lecturer for students with similar disposition and curiosity for computing.

    In part, the project has coordinated with IT and the technology students to maintain the integrity and validity of the Self-Help website, along with adding new features and improvements.

    Students involved with the program can expect to participate in a sustainable student-led ecosystem that fosters their curiosity in the realms of programming, software engineering, information technology, and computer science.

    The primary goal of the project is to let students actualize their passion by working on solving problems using code at Wooster school and realizing the connection between code and community.

    <h1 class="display-4 mt-4 mb-3">
        Project Accomplishments
    </h1>
    <ul class="list pl-5 ml-3">
        <li>Self-Help at Wooster Database & Website</li>
        <li> <a href="https://github.com/Self-Help-at-Wooster/Self-Help-at-Wooster-Webapp" target="_blank">Open-Sourced Organization and Webapp code on GitHub</a></li>
        <li>Student produced project and Software Requirements Specification on Volunteer Hours</li>
        <li>
            Lectures
            <ul class="list ml-3">
                <li>
                    I continue to support and teach students at Wooster about various software design and programming concepts through lectures and hands-on labs I developed. Topics are varied and often advanced. I make a deliberate effort to distill difficult college-level computer science material into concrete interactive lectures for high-level concepts and labs for students to then apply their understanding in a meaningful way.
                </li>
            </ul>
            <li>
                    Examples of topics I have lectured include
                    <ul class="list ml-3">
                        <li>Lambda Expressions and Functional Programming</li>
                        <li>Object-Oriented code including advanced mechanics of interfaces, abstract classes, and overloading principles</li>
                        <li><a asp-controller="Portfolio" asp-action="Assembly">Assembly code via the MIPS instruction-set</a></li>
                        <li>Developing Software and Creating a Software Requirements Specification (SRS)</li>
                        <li>Advanced Recursive algorithms and the System Stack</li>
                        <li>Data Structures including Lists, Queues, and Stacks</li>
                        <li>Mathematical Symbolic Computation</li>
                        <li>Coding their own Self-Help platform working with NuGet</li>
                        <li>I have also worked with intro coders to help teach them the basic mechanics of programmatic thinking by experimenting with ways to orient their thought-process about code to happen at a higher-level, rather than solely in terms of cause/ effect relations where I have seen students get stuck.

                    </ul>

    </ul>
    <div class="ml-0 pl-0 pb-3">
        This project has allowed me develop skills in leadership, education, and communication. I had to work across departments at the school to discover what the community was actually looking for in the Self-Help site. This includes receiving approval from Headmaster Matt Byrnes, Head of School Tyrone Black, and Director of Information Technology Bob Magni.
        I was also heavily involved in the application deployment process, including presenting the completed site to middle and upper schools. In recognition of this work, I received the James S. Hammer '63 Award and a Senior Independent Study Commendation from Wooster School.
    </div>

</div>
