/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

#mainphoto{
    border-radius: 50%;
    border: 3px solid lightblue;
}

.slide {
    position: relative;
    top: -100px;
    -webkit-animation: slide 0.5s forw ards;
    -webkit-animation-delay: 2.3s;
    animation: slide 0.4s forwards;
    animation-delay: .1s;
}

.blog-link, .blog-link:hover{
    text-decoration: none;
}

.about{
    line-height:  160% !important;
}

@-webkit-keyframes slide {
    100% {
        top: 0;
    }
}

@keyframes slide {
    100% {
        top: 0;
        visibility: visible;
        z-index: 10;
    }
}

#contact {
    visibility: hidden;
}


.active {
    font-weight: bold;
    color: white !important;
    background-color: royalblue;
}

.navbar li a.active {
    color: white !important;
}


.navbar li a{
    color: black !important;
    font-size: 28px !important;
}

.navbar li a:hover {
    color: white !important;
    text-decoration: underline !important;
    background-color: #007BFF;
    border-radius: 10px;
}

.links {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 75px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #E6ECF0;
    width: 100%;
    min-width: 1200px;
    font-size: 25px;
    line-height: 150%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    font-size: 15px;
}

container {
    font-size: 15px;
}

#skills, #hobbies, #tea, #TTB, #assembly, #faa, #selfhelp {
    font-size: 25px;
    line-height: 190%;
}

.assemdesc {
    font-size: 28px;
    line-height: 50px;
}

.footer{
    font-size: 25px;
}

hr {
    border: .5px solid black;
}

#uni_names{
    font-size: 35px;
    padding-top: 20px;
}

.hoverable {
    opacity: 1.0;
    transition: opacity 0.5s;
    border: 3px solid black;
    background-color: lightblue;
}

.hoverable-sh {
    opacity: 1.0;
    transition: opacity 0.5s;
    border-radius: 300px 300px;
    border: 3px solid black;
    background-color: lightblue;
}

.hoverable:hover, .hoverable-sh:hover {
    opacity: 1;
    cursor: pointer;
}

.padding-0 {
    padding-right: 0;
    padding-left: 0;
}


.captions {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.blurb {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    color: black;
}

.maincaption {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 27px;
    line-height: 150%;
    color: black;
}


@keyframes fader {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade {
    animation: fader linear forwards;
    animation-duration: 1s;
    animation-delay: .3s;
}

@keyframes light-fader {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.zoom:hover {
    transform: scale(1.5);
}

.fade-1:hover, .fade-2:hover, .fade-3:hover, .fade-4:hover, .fade-5:hover, .fade-6:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.fade-1 {
    opacity: 0;
    animation: light-fader linear forwards;
    animation-duration: 1.5s;
}

.fade-2 {
    opacity: 0;
    animation: light-fader linear forwards;
    animation-duration: 1.5s;
    animation-delay: .2s;
}

.fade-3 {
    opacity: 0;
    animation: light-fader linear forwards;
    animation-duration: 1.5s;
    animation-delay: .4s;
}

.fade-4 {
    opacity: 0;
    animation: light-fader linear forwards;
    animation-duration: 1.5s;
    animation-delay: .6s;
}

.fade-5 {
    opacity: 0;
    animation: light-fader linear forwards;
    animation-duration: 1.5s;
    animation-delay: .8s;
}

.fade-6 {
    opacity: 0;
    animation: light-fader linear forwards;
    animation-duration: 1.5s;
    animation-delay: 1s;
}


.modal-lg {
    width: 900px;
    height: 900px; /* control height here */
}