@{
    ViewData["Title"] = "Skills and Hobbies";
}

<div id="skills" class="container">


    <h1 class="display-4">Skills</h1>

    <ul class="list p-3">
        <li><b>Programming Languages:</b> VB.NET, C, C++, C#, Haskell, Java, Python</li>
        <li><b>Web Development:</b> Amazon Web Services, ASP.NET & MVC, Razor, Google Apps Scripts, Google APIs, JavaScript, HTML, CSS, Bootstrap</li>
        <li><b>Data Science in Python:</b> Scikit-learn, Numpy, Pandas, TensorFlow, Keras, Neural-networks</li>
        <li><b>Hardware:</b> Circuits, Autodesk Eagle, PCB Design, Arduino, Raspberry Pi, Soldering </li>
        <li><b>Mobile Application Development:</b> Xamarin.Forms, Android Studio, XAML</li>
        <li><b>Databases:</b> SQL, SQLite, SQL Server, MS Access, Oracle</li>
        <li><b>IDE Experience:</b> Proficient with NetBeans, Eclipse, Visual Studio, Spyder, Jupyter, Notepad++</li>
        <li><b>Computer Science:</b> System Architectures, Algorithms, Graph-Theory, Data Structures</li>
        <li><b>Assembly:</b> Computer Organization of MIPS Instruction Set (assembly code, RISC pipeline)</li>
        <li><b>Mobile Application Development:</b> Xamarin.Forms, Android Studio, XAML</li>
        <li><b>Software Engineering:</b> Agile Development Methodologies, Object-Oriented Design, UML, Git</li>
        <li><b>Mathematics:</b> Linear Algebra, Analysis, Calculus, Statistics</li>
        <li><b>Other:</b> Linux, LaTeX, Game Development, Pathfinding, Symbolic Computation, Boolean Algebra
    </ul>

    <h1 class="display-4">Relevant Selected Courses</h1>


    <div class="container">


        <div class="row" id="uni_names">

            <ul class="col font-italic list"> Rensselaer Polytechnic Institute</ul>

            <ul class="col font-italic list">Fairfield University</ul>

        </div>


        <div class="row">

            <ul class="col list">
                <li>
                    Introduction to Algorithms CSCI 2300
                </li>
                <li>
                    Computer Organization CSCI 2500
                </li>
                <li>
                    Foundations of Computer Science CSCI 2200
                </li>
                <li>
                    Graph Theory CSCI 4260
                </li>
                <li>
                    Operating Systems CSCI 4120
                </li>
                <li>
                    Foundations of Analysis Math 4090
                </li>
                <li>
                    Advanced Calculus Math 4600
                </li>
            </ul>

            <ul class="col list">
                <li>
                    Software Engineering Methods SW 300
                </li>
                <li>
                    Mobile Application Development SW 416
                </li>
                <li>
                    Analysis of Algorithms CS 343
                </li>
                <li>
                    Data Structures CS 232
                </li>
                <li>
                    Digital Design I CR 245
                </li>
                <li>
                    Discrete Mathematics MA 231
                </li>
                <li>
                    Ordinary Differential Equations MA 251
                </li>
            </ul>

        </div>

    </div>

</div>
