@{
    ViewData["Title"] = "Resume";
}

<div class="container-fluid text-center p-0">

    <img src="@Url.Content("~/imgs/TonerResume.svg")" class="shadow-lg" />

    <h3 class="m-3"><a href="@Url.Content("~/TonerResume.pdf")" title="Ryan Toner Resume 2019" target="_blank" type="application/pdf">Click for PDF</a></h3>

</div>
