@{
    ViewData["Title"] = "Resume";
}

<div class="container-fluid text-center pb-3">

    <img src="@Url.Content("~/imgs/TonerResume.png")" width="900" class="shadow-lg" />

    <h3 class="m-3"><a href="@Url.Content("~/docs/TonerResume.pdf")" title="Ryan Toner Resume 2019" target="_blank" type="application/pdf">Click for PDF</a></h3>

</div>
