@{
    ViewData["Title"] = "Resume";
}

    <div class="container-fluid text-center pl-0 pr-0">


        <img class="shadow-lg img-fluid p-0 m-0" src="@Url.Content("~/imgs/TonerResumePNG.png")" width="1200" />

        <h3 class="m-3"><a href="@Url.Content("~/docs/TonerResume2021.pdf")" title="Ryan Toner Resume 2020" target="_blank" type="application/pdf">Click for PDF</a></h3>

        <br />

    </div>
