@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Resume";
}


    <div class="container-fluid text-center p-0">


        <object data="@Url.Content("~/res.pdf")" type="application/pdf" height="1200" width="950" style="border:1px solid #666CCC" title="PDF in an i-Frame" frameborder="1" scrolling="auto">
            <iframe height="1100" width="850" src="https://docs.google.com/viewer?@Url.Content("~/res.pdf")&embedded=true"></iframe>
        </object>


    </div>
