@{
    ViewData["Title"] = "Hobbies";
}

<div id="hobbies" class="container">

    <h1 class="display-4">Hobbies</h1>

    <ul class="list p-3 text-justify">
        <li>
            I enjoy listening to and learning music.
            I am a self-taught classical musician, and to further my passion I have taken 2 college semesters of independent classical piano instruction and performance.
            I have studied and performed Romantic music including Chopin's preludes and nocturnes and sections from Beethoven's sonatas.
            Various musical tools I use include the piano, synthesizers, GarageBand, Logic, and FL Studio &mdash;
            I often find myself immersed in the sonic possibilites of synthesizer programming.
        </li>
        <li>
            I enjoy teaching code concepts to high school students because I find it highly rewarding to give back and bring new knowledge to students.
            It brings me great joy to share my passion with dedicated students who love the challenges and information I present to them.
        </li>
        <li>
            I love to explore unique cultures and places by traveling the world and cooking diverse types of food.
        </li>
        <li>Other activities I dabble in include philosophy, video creation, video editing, and graphic design.</li>
    </ul>

    <h4>
        Read about my time cooking with the school chef at Wooster School:
        <a href="https://www.woosterschool.org/page.cfm?p=1180&newsid=1576">DLI Carbonara: A Tale of Two Chefs</a>
    </h4>

    <hr />

    <div class="text-center">

        <video width="640" height="360" controls>
            <source src="@Url.Content("~/videos/MoonlightSonata.mp4")" type="video/mp4">
            <h3 class="m-3"><a href="@Url.Content("~/videos/MoonlightSonata.mp4")" title="Click to view" target="_blank" type="application/mp4">Click to view</a></h3>
        </video>
        <h5>Performance of Movement 1 from Beethoven's Moonlight Sonata</h5>
    </div>

</div>

