<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1000">
    <title>@ViewData["Title"] - Ryan Toner Portfolio</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-sm fixed-top navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 navbar-custom">
                <div class="container"> 
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item nav-custom ml-3 mr-3">
                                <a class="nav-link pl-3 pr-3" asp-controller="Home" asp-action="Index">Contact</a>
                            </li>
                            <li class="nav-item nav-custom ml-3 mr-3">
                                <a class="nav-link pl-3 pr-3" asp-controller="Resume" asp-action="Index">Resume</a>
                            </li>

                            <li class="nav-item dropdown ml-0 pl-0">
                                <div class="row pl-3 pr-3">
                                    <div class="btn-group dropright">
                                        <a class="nav-link"
                                           asp-controller="Portfolio" asp-action="Index">Portfolio
                                        </a>
                                        <button type="button" class="btn bg-white dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="sr-only">Toggle Dropright</span>
                                        </button>
                                        <ul class="dropdown-menu">

                                            <li class="nav-item"><a class="dropdown-item nav-link" asp-controller="Portfolio" asp-action="DASC">36th Digital Avionics Systems Conference</a></li>
                                            <li class="nav-item"><a class="dropdown-item nav-link" asp-controller="Portfolio" asp-action="FAA">FAA Collaborative Research</a></li>
                                            <li class="nav-item"><a class="dropdown-item nav-link" asp-controller="Portfolio" asp-action="FifteenPuzzle">Solving the 15 Puzzle with Machine Learning</a></li>
                                            <li class="nav-item"><a class="dropdown-item nav-link" asp-controller="Portfolio" asp-action="Derivative">Derivative Calculator</a></li>
                                            <li class="nav-item"><div class="dropdown-divider"></div></li>
                                            <li class="nav-item"><a class="dropdown-item nav-link" asp-controller="Portfolio" asp-action="SelfHelp">Self-Help Open Source Initiative</a></li>
                                            <li class="nav-item"><a class="dropdown-item nav-link" asp-controller="Portfolio" asp-action="Assembly">Assembly Code, Interpreters, Fractals, and Lecturing</a></li>
                                            <li class="nav-item"><a class="dropdown-item nav-link" asp-controller="Portfolio" asp-action="TicTacBoom">Tic-Tac-Boom</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item nav-custom ml-3 mr-3">
                                <a class="nav-link text-dark pl-3 pr-3" asp-controller="Skills" asp-action="Index">Skills</a>
                            </li>
                            <li class="nav-item nav-custom ml-3 mr-3">
                                <a class="nav-link text-dark pl-3 pr-3" asp-controller="Hobbies" asp-action="Index">Hobbies</a>
                            </li>
                            <li class="nav-item nav-custom ml-3 mr-3">
                                <a class="nav-link text-dark pl-3 pr-3" asp-controller="About" asp-action="Index">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="container-fluid">
        <main role="main" class="container">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-center text-muted">
        <div class="container">
            &copy; 2020 - <a target="_blank" href="https://ryantonerportfolio.net">Ryan Toner Portfolio</a> -
            <a href="mailto:ryanat.per@gmail.com">ryanat.per@gmail.com</a> -
            <a target="_blank" href="https://www.linkedin.com/in/ryan-toner-203826170/">LinkedIn</a> -
            <a target="_blank" href="https://github.com/RyanTonerCode">GitHub</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <!--
        <script src="~/js/site.js" asp-append-version="true"></script>
    -->

    <script type="text/javascript">

        $(document).ready(function () {
            var url = window.location.pathname;

            var t = document.getElementsByClassName("nav-link");
            for (var i = 0; i < t.length; i++) {

                if (t[i].getAttribute("href") === url)
                    t[i].classList.add("active");
                else
                    t[i].classList.remove("active");
            }
        });

    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
