@{
    ViewData["Title"] = "About";
    
        <script type="text/javascript">
        var topnav = document.getElementsByClassName("top-nav");
        for (var i = 0; i < topnav.length; i++) {
            topnav[i].classList.remove("selected-navbar");
        }
        topnav[4].classList.add("selected-navbar");
    </script>

}

<div class="container p-lg-2">


    <h1 class="display-1 p-0">About me</h1>

    <h2 class="text-justify">
        Passionate and talented developer/ software engineer with extensive project experience across many platforms and languages.
        Interested in mathematics and symbolic computation for computer algebra systems.
        I enjoy collaboration and am knowledgeable in writing/ documenting proper software especially using source control systems.
        Skillful communication and able to communicate complex code ideas clearly.
        Experience in educational environments by guest lecturing programming via the open-source initiative at Wooster School.
        <br /><br />
        I am currently seeking employment or internship opportunites. If my portfolio and background look like the kind of thing your company wants or does, I would love to hear from you!
    </h2>

    <h1 class="display-1">About this site</h1>

    <h2 class="text-justify">
        I created this site using ASP.NET MVC. It is hosted on AWS. The project's source code may be found in this
        <a href="https://github.com/RyanTonerCode/RyanTonerPortfolio" target="_blank">
            GitHub repository
        </a> and uses the MIT license. However, the work/ text presented here is my intellectual property.
        Please feel free to take a peek or borrow the source code for your usage.
        If you happen to have any questions or want to know more, please send me a message.
    </h2>

</div>
