@{
    ViewData["Title"] = "About";
    
        <script type="text/javascript">
        var topnav = document.getElementsByClassName("top-nav");
        for (var i = 0; i < topnav.length; i++) {
            topnav[i].classList.remove("selected-navbar");
        }
        topnav[4].classList.add("selected-navbar");
    </script>

}

<div class="container text-center align-self-center">

    <h3>I created this site using ASP.NET MVC. The project's source code may be found on GitHub.</h3>

</div>
