@{
    ViewData["Title"] = "Home";
}
    <div class="container">

        <div class="text-center mb-4 mt-2 slide">
            <h1 class="display-4">Welcome to Ryan Toner's Portfolio Page!</h1>
        </div>

        <div id="main" class="row fade text-center bg-white rounded shadow-lg">
            <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 pt-3 bg-secondary">

                <img id="mainphoto" src="@Url.Content("~/imgs/PrattNASARound.png")" alt="Ryan Toner Pratt & Whitney Presentation" width="425" />


                <div class="maincaption text-white">
                    <ul class="text-center list-unstyled pt-4">
                        <li>Fairfield University</li>
                        <li>B.S. in Computer Science and Mathematics  5 / 2021</li>
                    </ul>
                </div>

            </div>

            <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 mx-auto">
                <div class="text-center display-4 p-3">Contact Information</div>

                <br />

                <ul class="text-center list-unstyled p-2">
                    <li><h2>For employers or recruiters</h2></li>
                    <li><h2>Email: <a href="mailto:ryanat.per@gmail.com">ryanat.per@gmail.com</a></h2></li>
                    <li><h2>Phone: <a href="tel:203-609-1777">203-609-1777</a></h2></li>
                </ul>

                <br /><br /><br />

                <div class="row links text-center align-middle">
                    <div class="col text-center align-middle">
                        GitHub
                    </div>

                    <div class="col links text-center align-middle">
                        LinkedIn
                    </div>
                </div>

                <div class="row text-center align-middle">
                    <div class="col text-center align-middle">
                        <a href="https://github.com/RyanTonerCode" target="_blank" rel="noreferrer"><i class="fa fa-github fa-3x"></i></a>
                    </div>

                    <div class="col text-center align-middle">
                        <a href="https://www.linkedin.com/in/ryan-toner-203826170/" target="_blank" rel="noreferrer"><i class="fa fa-linkedin fa-3x"></i></a>
                    </div>
                </div>

                <div class="fade container .d-flex" id="main_info">
                    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
                </div>

                <br />

            </div>

        </div>

    </div>