@{
    ViewData["Title"] = "Skills and Hobbies";

    <script type="text/javascript">
        var topnav = document.getElementsByClassName("top-nav");
        for (var i = 0; i < topnav.length; i++) {
            topnav[i].classList.remove("selected-navbar");
        }
        topnav[3].classList.add("selected-navbar");
    </script>

}

<div id="skills" class="container">


    <h1 class="display-4">Skills</h1>

    <ul class="list p-3">
        <li>Software Development: VB.NET, C/C++/C#, Java (JavaFX & Swing), Python, Windows Forms, XML, Git</li>
        <li>Web Development: ASP.NET & MVC, Google Apps Scripts, Google APIs, JavaScript, HTML, CSS</li>
        <li>Mobile Application Development: Xamarin.Forms, XAML</li>
        <li>Databases: SQL, SQLite, MS Access, Oracle</li>
        <li>IDE Experience: Proficient with NetBeans, Eclipse, MS Visual Studio, Spyder, Notepad++</li>
        <li>System Architectures, Algorithms, Data Structures, Object-Oriented Design</li>
        <li>Agile Development Methodologies</li>
        <li>Other: LaTeX, Game Development, Statistics, Calculus, Arduino, Symbolic Computation, Boolean Algebra</li>
    </ul>

    <h1 class="display-4">Hobbies</h1>

    <ul class="list p-3">
        <li>
            In my free time, I enjoy listening to and learning music.
            I am a self-taught classical musician, and to further my passion I have taken 2 semesters of classical piano.
            Various musical tools I enjoy include the piano, synthesizers, GarageBand, and FL Studio.
            I have studied and performed Romantic music including Chopin's preludes and nocturnes and Beethoven's sonatas.
        </li>
        <li>
            I enjoy teaching code concepts to high school students in my spare time because I find it highly rewarding to give back and bring new knowledge to students. It brings me great joy to reciprocate my passion with dedicated students who love the challenges.
        </li>
        <li>
            Additionally, I love to explore unique cultures and places by traveling the world and cooking diverse types of food.
        </li>
        <li>Other activities I dabble in include video creation, video editing, and graphic design.</li>
    </ul>

    <hr />

    <h1 class="display-4">Relevant Selected Courses</h1>


    <div class="container">


        <div class="row" id="uni_names">

            <ul class="col font-italic" list p-3"> Rensselaer Polytechnic Institute</ul>

            <ul class="col font-italic" list p-3">Fairfield University</ul>

        </div>


        <div class="row">

            <ul class="col" list p-3">
                <li>
                    Introduction to Algorithms CSCI 2300
                </li>
                <li>
                    Computer Organization CSCI 2500
                </li>
                <li>
                    Foundations of Computer Science CSCI 2200
                </li>
                <li>
                    Graph Theory CSCI 4260
                </li>
                <li>
                    Operating Systems CSCI 4120
                </li>
                <li>
                    Foundations of Analysis Math 4090
                </li>
                <li>
                    Advanced Calculus Math 4600
                </li>
            </ul>

            <ul class="col" list p-3">
                <li>
                    Software Engineering Methods SW 300
                </li>
                <li>
                    Mobile Application Development SW 416
                </li>
                <li>
                    Analysis of Algorithms CS 343
                </li>
                <li>
                    Data Structures CS 232
                </li>
                <li>
                    Digital Design I CR 245
                </li>
                <li>
                    Discrete Mathematics MA 231
                </li>
                <li>
                    Ordinary Differential Equations MA 251
                </li>
            </ul>

        </div>

    </div>


</div>
