@{
    ViewData["Title"] = "Work Portfolio";

    <script type="text/javascript">
        var topnav = document.getElementsByClassName("top-nav");
        for (var i = 0; i < topnav.length; i++) {
            topnav[i].classList.remove("selected-navbar");
        }
        topnav[2].classList.add("selected-navbar");
    </script>

}

<div class="container text-center align-self-center">


    Organization:
        
        Articles
        Presentations
        Awards
        Self-Help Open Source Initative/ guest lecture
        Projects
        Games


    TOP: Links to fairfield article. pasta-article?3

    PORTFOLIO ITEMS:
        Derivative Calc?
        Shunting-Yard Paper?
       
    Tic-Tac-Boom?

    Assembly Lecture

    Self-Help at Wooster:
        Open Source
        Slip System

    Digital Design project from quartus?

    FAA stuff?

</div>
