@{
    ViewData["Title"] = "Work Portfolio";

    <script type="text/javascript">
        var topnav = document.getElementsByClassName("top-nav");
        for (var i = 0; i < topnav.length; i++) {
            topnav[i].classList.remove("selected-navbar");
        }
        topnav[2].classList.add("selected-navbar");
    </script>

}

<div class="container text-center display-4 align-self-center">

    I created this site using ASP.NET MVC. The project's source code may be found on GitHub.

</div>
